tests/stateMachines/test/foo/definition.asl.yaml
---
StartAt: Function1
States:
  Function1:
    Type: Task
    Parameters:
      AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_NAME.$: $$.Execution.Name
      AWS_STEP_FUNCTIONS_STARTED.$: $$.Execution.Name
    Resource: !GetAtt dummy.Arn
    Next: Function2
  Function2:
    Type: Task
    Parameters:
      AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_NAME.$: $$.Execution.Name
      AWS_STEP_FUNCTIONS_STARTED.$: $$.Execution.Name
    Resource: !GetAtt dummy.Arn
    Next: RefTest
  RefTest:
    Type: Task
    Resource: arn:aws:states:::states:startExecution
    Parameters:
      StateMachineArn: !Ref StepMachineOne
      Input:
        key1: value3
        key2: value2
    Next: Pass
  Pass:
    Type: Pass
    Result: "Hello, World!"
    Next: IsFinal
  IsFinal:
    Type: Succeed
